
    <header>
      <form id="form1">
        <label for="red" class="red">
          <input type="checkbox" class="source" id="red" name="color" value="red"> Red
        </label>
        <label for="blue" class="blue">
          <input type="checkbox" class="source" id="blue" name="color" value="blue"> Blue
        </label>
        <label for="purple" class="purple">
          <input type="checkbox" class="source" id="purple" name="color" value="purple"> Purple
        </label>
        <label for="green" class="green">
          <input type="checkbox" class="source" id="green" name="color" value="green"> Green
        </label>
        <label for="white" class="white">
          <input type="checkbox" class="source" id="white" name="color" value="white"> White
        </label>
        <label for="black" class="black">
          <input type="checkbox" class="source" id="black" name="color" value="black"> Black
        </label>
        <input type="submit" />
      </form>
    </header>
    <table style="width:100%">
      <tr>
        <th>GUESS</th>
        <th>RESPONSE</th> 
      </tr>
      <tr>
        <td class="guess">
          <div id="circle"></div>
        </td>
        <td class="response"></td> 
      </tr>
      <tr>
        <td>top of different row</td>
        <td>bottom of different row</td> 
      </tr>
    </table>
